.toolbar{
    --background:#03497d;
}

ion-title
{
  color: #ffffff;
  font-size: 14px;
}

ion-icon
{
  color: #ffffff;
}

.title {
    color: #7f8c8d;
    margin: 0;
    font-size: 1.2em;
   // text-align:center; 
  
}

.title2 {
    margin: 0;
    font-size: 0.9em;
   // text-align:center;
  
}

.title3 {
   
    margin: 0;
     font-size: 0.7em;
  //  text-align:center;
  
}
