.sbtbtn{
    width:100%;
    background-color: #DA6700;
    color:white;
    border-radius: 4px;
   padding-top: 8px;
   margin-top: 4px;
   margin-left: 2px;
   padding-bottom: 8px;
  }
  .toolbar{
    --background:#03497d;
}

ion-title
{
  color: #ffffff;
  font-size: 14px;
}

ion-icon
{
  color: #ffffff;
}
