.title {
  
    color: #356d97;
   margin-top: 0px;
    font-size: 0.7em;
    margin-top: 0px;
    margin-bottom: 2px;
  
}

.column-8 {
  float: left;
  width: 9%;
 
}
.subtitle {
  
 margin-top: 2px;
  font-size: .7em;
  margin-top: 0px;
  margin-bottom: 2px;

}
.toolbar{
    --background:#03497d;
}

ion-title
{
  color: #ffffff;
  font-size: 14px;
}

ion-icon
{
  color: #ffffff;
}
