.toolbar{
    --background:#03497d;
}

ion-title
{
  color: #ffffff;
  font-size: 14px;
}

ion-icon
{
  color: #ffffff;
}
.sbtbtn{
    width:100%;
    background-color: #DA6700;
    color:white;
    border-radius: 4px;
   padding-top: 8px;
   margin-top: 14px;
   margin-left: 2px;
   padding-bottom: 8px;
  }

  .title {
    // background-color: rgb(194, 190, 190);
   // border: 1px solid #edf1f1;
    color: #7f8c8d;
   
    font-size: 0.9em;
  
}